*{
 margin: 0%;
 padding: 0%;
 font-family: Arial, Helvetica, sans-serif;   
}

    /* INICIO PRIMER APARTADO NEW WAY */


header{
    color: white;
    background-image: url(../assets/images/banner-bk.jpg);  
    background-size: cover;
    background-position: center;
    height: 638px;
}

/* contendeor logo pricipal  */
.logo-principal{ 
    width: 66px   
}

/* div principal  */
.div-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 128px;

}

/* link div principa */
a{
    color: white;
    text-decoration: none;
}

/* div secundario */
.div-secundario{
      width: 50vw;
      margin-left: 128px;
      height: 532px;
}

/* titulo div secundario */
.titulo-principal{
    font-size: 80px;
    margin-bottom: 50px;
    margin-top: 20px;

}

/* parrafo div secundario */
.parrafo-principal{

    margin-bottom: 50px;
}

/* botton div secundario */
.boton-get-staret{
    background-color: #00FFAD;
    color: #192440;
    border-radius: 100px;
    padding: 10px 15px;
    border: none;
    font-weight: bolder;
}

/* div-botton */
.div-botton{
    margin-top: 80px;
}

    /* FINALICACION DE PRIMER APARTADO */

    /* INICIALICACION DE SEGUNDO APARTADO */

/* degradado primera parte */
.degradado-primera-parte{
    display: flex;
    padding: 0 128px;
    flex-direction: row;
    margin: 0, auto;
    margin-bottom: 50px;
}

/* titulo de degradado primera parte */
.titulo-contenedor-dos{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    color: #302B2C; 
}

/* classe imagenes y h2 y textos */
.imagen-uno {
    text-align: center;
    color: #302B2C;
    padding: 0 40px;
    
}
/* clase de los h2 dos de la parte de degradado parte uno */
.degradado-parte-uno-h2{
    color: #302B2C;
    margin-bottom: 10px;
}

/* contenido de la parte izquierda del degrada dos  */
.contenido-uno-degradado-dos{
    width: 50%;
    margin-top: 70px;
    margin-left: 150px;
    color: #302B2C
    


}

/* contenedor padre de la sesion degradado parte dos  */
.degradado-segunda-parte{
    display: flex;
    flex-direction: row;
    margin-top: 100px;   
}
/* boton de la parte izquiera del degradado dos */
.botton-degradado-segunda-parte{
    background-color:#192440;
    color: #FFF1F3;
    border-radius: 100px;
    padding: 10px 15px;
    border: none;
    font-weight: bolder;
    margin-top: 50px;
}

/* titulod se la sesion del degradado de la segunda parte */
.h2-degradado-segundaparte{
    margin-bottom: 25px;
}

/* imagen del degradad dos de la sesion */
.imagen-degradado-dos img{
    width: 500px;

}

    /* degradado tercera parte del sesion */

/* degradado padre del degradado tres */
.degradado-tercera-parte{
    display: flex;
    margin-top: 100px;

}

/* imagen de la tercera parte del degradado tres */
.imagen-degradado-tres{
    margin-left: 100px;
}

/* contenido padre del degradado uno tres */
.contenido-uno-degradado-tres{
    width: 50%;
    margin-top: 10px;
    margin-left: 60px;
    color: #302B2C  
}
/* titulo del contenido degradado tres del sesion */
.h2-degradado-parte-tres{
    margin-bottom: 25px;
}
/* imagen del degradado tres de la sesion tres */
.imagen-degradado-tres img{
    width: 500px;
}

    /* FINALIZACION DE EL DEGRADADO TRES DE LA SESION */

/* division de el sesion para la ediccion del fondo     */
section{
    background: linear-gradient(-190deg, #ffffff 60%, #00FFAD 50%); /* Cambia los colores según tu preferencia */
    margin: 0; /* Quita el margen por defecto */
}


    /* INICIALIZACION DEL CONTENEDOR PARTE CUATRO  */


            /* clase padre del contendero numero 4     */
.contenedor-parte-cuatro{
    margin-top: 70px;
    text-align: center;
}

                /* contenedor de las tres clase premium */
.TresClasesPremium{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    
}

/* titulo h3 de el contenedor 4  */
.h3-contenedor-cuatro{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    font-size: 30px;
}
/* contenido de la parte izquierda de el contenedor  */
.contenido-izquierda{
    padding: 50px 125px;

}

/* ttulo del  contenido de la parte izquierda de el contenedor  */
.contenido-izquierda h3{
    margin-bottom: 40px;    
  }

/* parrafos que van en la parte de arriba en la parte del contenido */
.parrafos-iniciales{
    display: flex;
    text-align: center;
    justify-content: center;
}

/* clase de numeor 0 para ponerlo grande */
.parrafo-central{
    font-size: 50px;
    margin-bottom: 20px;
    
}


/* parrafos de la parte de abajo antes del botton */
.parrafos-parte-final p{
    margin-top: 20px;
}

/* botton del del contenedor 4 */
.botton-contenedor-tres{
    background-color: #fbfffe;
    color: #192440;
    border-radius: 100px;
    margin-top: 70px;
    padding: 10px 15px;
    border: 2px solid #192440;
    font-weight: bolder
    
    
}


/* color fondo de contenidoo central  */
.contenido-central{
    background-color: #192440;
    padding: 120px; 
}

/* contenido del div central */
.contenido-central h3{
    margin-bottom: 40px;
       
  }
/* botton del div central */
  .botton-contenedor-tres-medio{
    background-color: #00FFAD;   
    border-radius: 100px;
    margin-top: 70px;
    padding: 10px 15px;
    border: none;
    font-weight: bolder
}



/* contenido de la parte central  */
.contenido-central{
    padding: 50px 125px;

}

/* ttulo del  contenido de la parte central */
.contenido-central h3{
    margin-bottom: 40px;
    color:white;    
    
  }

/* parrafos que van en la parte de arriba en la parte del contenido central */
.parrafos-central-iniciales{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}

/* clase de numeor 0 para ponerlo grande contenido central*/
.parrafo-central-medio{
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
    
}


/* parrafos de la parte de abajo antes del botton central */
.parrafos-central-parte-final p{
    color:white;
    margin-top: 20px;
}


.contenedor-marcas{
    background-color: #ECEEEF;
    padding: 50px;
    display: flex;
    justify-content: center;
}
.contenedor-marcas img{
    margin:0 50px;
    
}


        /* FINALIZACION DE SESION DE PREMIUMS */


        /* INICIALIZACION DE ULTIMO CONTENEDOR  */
.ultimo-contenedor{            
    color: white;
    background-image: url(../assets/images/contact-bk.jpg);  
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    height: 704px;
}

/* texto que va en el ultimo contenedor de contactos */
.texto-ultimo-contenedor {
    width: 40%;
    text-align: left;
    padding:  50px 0 0 128px;
    
    

}
/* titulo del ultimo contenedor */
.texto-ultimo-contenedor h4{
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 40px;
    padding-left: 10px;
    
}
/* texto del ultimo contenedor  */
.texto-ultimo-contenedor p{
    margin-top: 30px;
    
}

/* contenedor uno de contactos  */
.Contactos{   
    padding: 80px 80px 0 0;
    width: 400px;
    
}

/* contenedor de la parte de arriba del contenedor */
.contenedor-parte-superior{
    display: flex;
    margin-top: 19%;
    justify-content: space-between;
        
}
label {
    color: #00ffcc;
    display: flex;
    margin-top: px;
    margin-bottom: 5px;
    
    
}
input{
    margin-bottom: 15px;
    background: transparent;
    color: #ffffff; /* Text color */
    border-color: #00FFAD;
}

/* contenedor de la parte de abajo del contenedor */
.contenedor-parte-inferior{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

}

/* botton de Contactos */
.button-contactos button{
   display: flex;
   justify-content: center;
    padding: 10px;
    border-color: #00ffcc;
    border-radius: 25px;
    background-color: #00ffcc;
    width: 410px;
}

textarea{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-color: #00ffcc;
    color: white;
    background-color: transparent;
    
}


    /* INICIALICACION DE CONTENEDOR FINAL DE REDES Y CPYRIGHT */

    /* contenedor de las redes y el copy ray */
.contenedor-final-inferior{
    display: flex;
    justify-content: space-between;
    background-color: #192440;
    color: white;
    padding: 40px;
}
/* PARRAFO DEL CONTENEDOR */
.contenedor-final-inferior p{
    margin-left: 60px; 
    margin-top: 15px;
}

/* IUMAGENES DE CONTENEDOR */
.contenedor-final-inferior img{
    border-radius: 100%; 
    width: 50px; 
    height: 50px; 
    margin-right: 20px;
}


/* clase de las imagenes con un margen */
.imagenes-finales{
    margin-right: 50px;
}

@media only screen and (max-width: 1279px) {
    
 
}




@media only screen and (max-width: 920px) {
    
    .contenido-izquierda {
        padding: 50px 80px;
    }
    .contenido-uno-degradado-dos {
        width: 50%;
        margin-top: 70px;
        margin-left: 100px;
        color: #302B2C;
    }
    .imagen-degradado-dos img {
        width: 500px;
        padding-right: 50px;
    }   
    .imagen-degradado-tres {
        margin-left: 9px;
    }
    .contenido-uno-degradado-tres {
        width: 50%;
        margin-top: 10px;
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 50px;
    }
    .degradado-primera-parte {
        display: flex;
        padding: 0 50px;
        flex-direction: row;
        margin: 0, auto;
        margin-bottom: -32px;
    }
    .div-botton {
        margin-top: 20px;
    }
    .texto-ultimo-contenedor {
        width: 40%;
        text-align: left;
        padding: 50px 0 0 128px;
        margin-right: 80px;
    }

}


@media only screen and (max-width: 768px) {

    .contenido-izquierda {
        padding: 50px 50px;
    }
    .Contactos {
        padding: 79px 38px 0 0px;
        width: 376px;
    }
    .texto-ultimo-contenedor {
        width: 40%;
        text-align: left;
        padding: 50px 0 0 40px;
        margin-right: 80px;
    }
    .degradado-primera-parte {
        display: flex;
        padding: 0 2px;
        flex-direction: row;
        margin: 0, auto;
        margin-bottom: -32px;
    }
    .imagen-uno {
        text-align: center;
        color: #302B2C;
        padding: 0 0px;
    }
    .TresClasesPremium {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
        flex-direction: column;
    }
    header {
        color: white;
        background-image: url(../assets/images/banner-bk.jpg);
        background-size: cover;
        background-position: center;
        height: 736px;
    }
    .botton-degradado-segunda-parte {
        background-color: #192440;
        color: #FFF1F3;
        border-radius: 100px;
        padding: 10px 15px;
        border: none;
        font-weight: bolder;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .imagen-degradado-dos img {
        width: 425px;
        padding-right: 29px;
    }
    .imagen-degradado-tres img {
        width: 425px;
    }
    


}

@media only scree and(max-width:480px){

}




